<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} </title>
		{% else %}
		<title>Home</title>
		{% endif %}
	</head>

	<body>
		<h1> Welcome {{ name }}, here are top destinations </h1>
		{% with messages = get_flashed_messages() %} <!--will flash messages underneath the goooogle button on the web page -->
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}				<!--the flask messages block ends here-->
		<a href="https://google.com">goooogle</a>
		<hr>
		{% block content %} {% endblock %}
	</body>
</html>
